
<p>
  <label for="teamwork_apikey">Your Teamwork APIkey:</label>
  <input type="text" id="teamwork_apikey" name="teamwork_apikey" size="30"
         maxlength="50" value="[% teamwork_apikey FILTER html %]">
</p>
