
[% tabs = tabs.import([{ name => "teamwork_settings", label => "Teamwork Settings",
                         link => "userprefs.cgi?tab=teamwork_settings", saveable => 1 }
                      ]) %]
